{% extends 'base.html' %}

{% block head %}
<title>Receipt Tracker</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Edit Receipt</h1>

    <div class="form">
        <form action="/update/{{receipt.id}}" method="POST">
        	Name
            <input type="text" name="name" id="name" ><br>
            Cost
            <input type="text" name="cost" id="cost" ><br>
            Location
            <input type="text" name="location" id="location" ><br>
            Category
            <input type="text" name="category" id="category" ><br>
            
            <input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}