{% extends 'base.html' %}

{% block head %}
<title>Receipt Tracker</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Edit Receipt</h1>

    <div class="form">
        <form enctype=multipart/form-data action="/update/{{receipt.id}}" method="POST">
            Name
            <input type="text" name="name" id="name" value="{{receipt.name}}"><br>
            Cost
            <input type="text" name="total_cost" id="total_cost" value="{{receipt.total_cost}}"><br>
            Location
            <input type="text" name="location" id="location" value="{{receipt.location}}"><br>
            Category
            <input type="text" name="category" id="category" value="{{receipt.tag}}"><br>
            Date
            <input type="date" name="date_created" id="date_created" value="{{receipt.date_created.date()}}"><br>
            Photo
            <input type="file" name="file" id="file"><br>


            <input style="text-align: center" type="submit" value="Edit">
        </form>
    </div>
</div>
{% endblock %}