{% extends 'base.html' %}

{% block head %}
<title>Receipt Tracker</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Edit Receipt</h1>

    <div class="form">
        <form action="/update/{{receipt.id}}" method="POST">
        	Name
            <input type="text" name="name" id="name" value="{{receipt.name}}" ><br>
            Cost
            <input type="text" step="0.01" name="total_cost" id="total_cost" value="{{receipt.total_cost}}"><br>
            Location
            <input type="text" name="location" id="location" value="{{receipt.location}}"><br>
            Category
            <input type="text" name="category" id="category" value="{{receipt.tag}}"><br>
            
            
            <input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}